body
{
    margin-top: 300px;
    color:teal;
    font-family: monospace, 'Times New Roman', sans-serif;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a
{
    color: lavender;
}

.design
{
    text-align: center;
}

.block {
    display: block;
    margin:auto;    
    border-radius: 25px;
    width: min(70%, 500px);
}
#contents {
    height: 450px;
    border-radius: 25px;
    background-color: rgb(46, 44, 44);
}