.indexdesign
{
    margin-top: 300px;
    color:teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.recipedesign
{
    font-family: monospace, 'Times New Roman', sans-serif;
    background-image: url("images/recipeback.jpg");
    background-size: contain;
    text-align: center;
}
a
{
    color: lavender;
}

ul, ol
{
    list-style-position: inside;
}

.block {
    display: block;
    margin:auto;    
    border-radius: 25px;
    width: min(70%, 500px);
}
#contentsindex {
    height: 450px;
    border-radius: 25px;
    background-color: rgb(46, 44, 44);
}